body {
   margin: 0;
}

.header {
   background-color: #333333;
   width: 100%;
   height: 100px;
   box-shadow: black 3px 3px 2px;
}

#wall {
   position: absolute;
   opacity: 0.8;
}

#dp {
   position: relative;
   margin-top: 5px;
   margin-left: 10%;
   border-radius: 10px;
   opacity: 0.8;
}

.info {
   float: right;
   position: relative;
   margin-right: 15%;
   width: 40%;
   margin-top: 10%;
   color: white;
   text-align: center;
}

.info h1 {
   letter-spacing: 3mm;
   word-spacing: 4mm;
   opacity: 0.9;
   font-size: 3rem;
}

.info p {
   letter-spacing: 1mm;
   word-spacing: 2mm;
   opacity: 0.9;
   font-size: 1rem;
   line-height: 1.8;
}

.content {
   height: 200px;
}
